@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?y45a3t');
  src: url('../fonts/icomoon.eot?y45a3t#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?y45a3t') format('truetype'), url('../fonts/icomoon.woff?y45a3t') format('woff'), url('../fonts/icomoon.svg?y45a3t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font-size: 50px;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 68.26666667px;
  }
}
body {
  margin: 0 auto;
  min-width: 320px;
  width: 15rem;
  line-height: 1.5;
  font-family: Arial, Helvetica;
}
i {
  font-style: normal;
}
.w {
  padding: 0 0.6rem;
}
.exit {
  position: relative;
  height: 2.8rem;
  font-family: 'icomoon';
  font-size: 0.694444rem;
  text-align: right;
}
.header {
  height: 3.6rem;
}
.userIcon {
  float: left;
  margin-right: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.12rem solid #ebe9ec;
  border-radius: 50%;
}
.userIcon img {
  width: 100%;
  height: 100%;
}
.header strong {
  margin: 0;
  height: 0.8rem;
  font-size: 0.72rem;
}
.header p {
  margin: 0;
  height: 0.8rem;
  font-size: 0.48rem;
}
.mainHead {
  display: flex;
  width: 100%;
}
.company {
  position: relative;
  flex: 1;
  height: 4.6rem;
  border-radius: 0.32rem;
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  background-color: rgba(108, 176, 175, 0.9);
  color: #fff;
  overflow: hidden;
}
.company::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2.08rem;
  right: -1.28rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #64b1ab;
}
.company::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50px;
  left: -3.88rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #64b1ab;
  z-index: -1;
}
.company .authentication {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0.8rem;
  left: 0.6rem;
  padding-right: 0.28rem;
  width: 2rem;
  height: 0.68rem;
  border-radius: 0.16rem;
  background-color: #fff;
  text-align: right;
  font-size: 0.4rem;
  color: #64b1ab;
}
.company .authentication::before {
  content: '\e902';
  margin-right: 0.16rem;
  font-family: 'icomoon';
}
.company h5 {
  position: absolute;
  top: -0.56rem;
  left: 2.8rem;
  font-size: 0.72rem;
}
.company .agencyCompany {
  position: absolute;
  top: 1.36rem;
  left: -0.2rem;
  margin: 0.4rem 0 0 0.8rem;
  font-size: 0.64rem;
}
.company .staffNumber {
  position: absolute;
  top: 2.32rem;
  right: 0.76rem;
  font-size: 0.48rem;
}
.company .businessNumber {
  position: absolute;
  right: 0.76rem;
  top: 3rem;
  font-size: 0.48rem;
}
.myAgency {
  position: relative;
  flex: 1;
  margin-left: 0.4rem;
  height: 4.6rem;
  border-radius: 0.32rem;
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  background: #2d6ced;
  color: #fff;
  overflow: hidden;
  z-index: -1;
}
.myAgency::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2.08rem;
  right: -1.28rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #265ef1;
}
.myAgency::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50px;
  left: -3.88rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #265ef1;
  z-index: -1;
}
.myAgency h5 {
  position: absolute;
  top: -0.56rem;
  left: 0.8rem;
  font-size: 0.72rem;
}
.myAgency h5::before {
  content: '实';
  padding: 0 0.16rem 0;
  margin-right: 0.2rem;
  border-radius: 0.16rem;
  background-color: #fff;
  color: #265fee;
  font-size: 0.48rem;
  font-weight: 900;
}
.myAgency .order {
  position: absolute;
  top: 1.36rem;
  margin: 0.4rem 0 0 0.8rem;
  font-size: 0.64rem;
  z-index: 1;
}
.myAgency .popularity {
  position: absolute;
  top: 2.32rem;
  right: 1.32rem;
  font-size: 0.48rem;
}
.myAgency .member {
  position: absolute;
  right: 0.6rem;
  top: 3rem;
  font-size: 0.48rem;
  z-index: 1;
}
.myAgency .member::after {
  content: '?';
  display: inline-block;
  margin-left: 0.28rem;
  width: 0.56rem;
  height: 0.56rem;
  background-color: #fff;
  border-radius: 50%;
  color: #265fee;
  line-height: 0.56rem;
  text-align: center;
}
.mainMiddle {
  display: flex;
  margin-top: 0.4rem;
  width: 100%;
  color: #fff;
}
.mainMiddle .myCollection {
  position: relative;
  flex: 1;
  height: 4.6rem;
  border-radius: 0.32rem;
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  background-color: rgba(252, 187, 107, 0.9);
  color: #fff;
  overflow: hidden;
  z-index: -1;
}
.mainMiddle .myCollection::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2.08rem;
  right: -1.28rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #f8a442;
}
.mainMiddle .myCollection::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50px;
  left: -3.88rem;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #f8a442;
  z-index: -1;
}
.mainMiddle .myCollection h5 {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.72rem;
}
.mainMiddle .myCollection .collectionNumber {
  position: absolute;
  top: 1.36rem;
  left: -0.2rem;
  margin: 0.4rem 0 0 0.8rem;
  font-size: 0.64rem;
}
.mainMiddle .mainMiddleRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.4rem;
  height: 4.6rem;
}
.mainMiddle .mainMiddleRight div {
  flex: 1;
  height: 2.2rem;
  border-radius: 0.32rem;
}
.mainMiddle .mainMiddleRight .myMessage {
  position: relative;
  background: rgba(250, 139, 145, 0.9);
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  overflow: hidden;
  z-index: -1;
}
.mainMiddle .mainMiddleRight .myMessage::before {
  content: '';
  position: absolute;
  top: -3.2rem;
  right: -0.6rem;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: #fd686a;
  z-index: -1;
}
.mainMiddle .mainMiddleRight .myMessage::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: -3.44rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #fd686a;
  border-radius: 50%;
  z-index: -1;
}
.mainMiddle .mainMiddleRight .myMessage h6 {
  position: absolute;
  top: -1.08rem;
  left: 0.8rem;
  font-size: 0.72rem;
}
.mainMiddle .mainMiddleRight .myMessage p {
  position: relative;
  top: 0.28rem;
  left: 3.76rem;
  font-size: 0.48rem;
}
.mainMiddle .mainMiddleRight .myClue {
  position: relative;
  margin-top: 0.2rem;
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  background: rgba(247, 220, 107, 0.9);
  overflow: hidden;
  z-index: -2;
}
.mainMiddle .mainMiddleRight .myClue::before {
  content: '';
  position: absolute;
  top: -3.2rem;
  right: -0.6rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #f8c840;
  border-radius: 50%;
}
.mainMiddle .mainMiddleRight .myClue::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: -3.44rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #f8c840;
  border-radius: 50%;
  z-index: -1;
}
.mainMiddle .mainMiddleRight .myClue h6 {
  position: absolute;
  top: -1.08rem;
  left: 0.8rem;
  font-size: 0.72rem;
}
.mainMiddle .mainMiddleRight .myClue p {
  position: relative;
  top: 0.28rem;
  left: 3.76rem;
  font-size: 0.48rem;
}
.mainBottom {
  position: relative;
  margin-top: 0.4rem;
  width: 100%;
  height: 2.6rem;
  background: rgba(124, 85, 252, 0.9);
  border-radius: 0.32rem;
  box-shadow: 0.08rem 0.08rem 0.16rem #ccc;
  color: #fff;
  overflow: hidden;
  z-index: -1;
}
.mainBottom::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2.8rem;
  right: -2.6rem;
  width: 100%;
  height: 4.8rem;
  border-radius: 100%;
  background-color: #6b3efd;
}
.mainBottom::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100px;
  height: 30px;
  border-top-right-radius: 100%;
  background-color: #6b3efd;
  z-index: -1;
}
.mainBottom h6 {
  position: absolute;
  top: -1.32rem;
  margin-left: 1.2rem;
  font-size: 0.72rem;
}
.mainBottom p {
  position: absolute;
  top: 0.76rem;
  margin-left: 1.2rem;
  font-size: 0.64rem;
  color: #cfb9ff;
}
.reminder {
  margin-top: 1.72rem;
  font-size: 0.56rem;
}
.reminder dl {
  margin: 0;
}
.reminder dd {
  margin: 0;
}
.reminder h6 {
  margin: 0;
  font-size: 0.72rem;
  font-weight: 400;
  color: #626262;
}
.reminder p {
  margin: 0;
  color: #969696;
}
.emptyBox {
  position: relative;
  height: 1.2rem;
  overflow: hidden;
}
.emptyBox::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.footer {
  position: relative;
  height: 1.6rem;
  border-top: 1px solid #ddd;
  font-size: 0.56rem;
}
.footer::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
}
.footer .policy {
  float: left;
  width: 5.6rem;
  line-height: 1.6rem;
  text-align: center;
}
.footer .policy:nth-child(1) i {
  display: inline-block;
  font-family: 'icomoon';
  font-size: 0.8rem;
}
.footer .nearbyAgency {
  position: absolute;
  top: -0.56rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2.6rem;
  width: 2.6rem;
  background: -webkit-linear-gradient(left bottom, #3b8c9d, #a9d3c7);
  border-radius: 50%;
  box-shadow: 1px 1px 5px #ebe9e9, 1px -1px 5px #ebe9e9, -1px 1px 5px #ebe9e9, -1px -1px 5px #ebe9e9;
  color: #fff;
  text-align: center;
}
.footer .nearbyAgency i {
  display: inline-block;
  transform-origin: center;
  transform: rotate(30deg);
  font-family: 'icomoon';
  font-size: 1.2rem;
}
.footer .nearbyAgency p {
  position: absolute;
  top: 0.92rem;
  left: 0.4rem;
  font-size: 0.48rem;
}
.footer .myInterface {
  float: right;
  width: 5.6rem;
  line-height: 1.6rem;
  color: #448d93;
  text-align: center;
}
.footer .myInterface i {
  position: relative;
  padding-right: 0.32rem;
  width: 0.8rem;
  height: 0.8rem;
  font-family: 'icomoon';
  color: #459f9d;
  font-size: 0.88rem;
  text-shadow: 2px 2px 2px #d2efed, 2px -2px 2px #d2efed, -2px 2px 2px #d2efed, -2px -2px 2px #d2efed;
  vertical-align: top;
}
.footer .myInterface i::before {
  position: absolute;
  top: -0.28rem;
  right: 0.12rem;
  height: 0.48rem;
  width: 0.48rem;
  border-radius: 50%;
  background-color: red;
  content: '99';
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.48rem;
  text-shadow: none;
  z-index: -1;
}
